<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="debit" class="in.laxmi.DebitCardPayment"/>
<bean id="credit" class="in.laxmi.CreditCardPayment"/>
<bean id="payment" class="in.laxmi.PaymentService">
 <constructor-arg name = "payment" ref="credit"/>
<property name="payment" ref="debit"/>
</bean>

</beans>